<%- include("header") %>

<form action="/usuari" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nom" id="nombre">
    <label for="apellido">Email:</label>
    <input type="text" name="email" id="email">
    <button type="submit">Enviar</button>
</form>

<%- include("footer") %>