<%- include("header") %>

<h1>Productes</h1>
<ul>
  <% productes.forEach(function(producte) { %>
    <li><a href="/productes/<%= producte.id %>"><%= producte.nomProducte %></a></li>
  <% }); %>
</ul>

<a href="producte">Crear Producto</a>

<%- include("footer") %>