<%- include("header") %>
<form action="productes" method="get">
    <% productes.forEach((productes, index)=> { %>
        <h2><%= productes.nom %></h2>
      <% }) %></form>
    <%- include("footer") %>