<%- include("header") %>

<form action="/producte" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nom" id="nombre">
    <label for="preu">Preu:</label>
    <input type="text" name="preu" id="preu">
    <button type="submit">Enviar</button>
</form>

<%- include("footer") %>