<%- include("header") %>

<h1>Usuaris</h1>
<ul>
  <% usuaris.forEach(function(usuari) { %>
    <li><a href="/usuaris/<%= usuari.id %>"><%= usuari.nom %></a></li>
  <% }); %>
</ul>

<a href="/usuari">Crear Usuari</a>

<%- include("footer") %>